.cart__titulo {

    font-size: 3rem;
    font-weight: bold;
}
.item_click {
    cursor: pointer;
}

.item__container {
    border: 1px solid black;
    padding: 0px;
    margin-top: 1rem;
    margin-bottom: 1rem;

}

.item__container--img {
    margin: 0px;
    padding: 0px;
}
.item__container--info {
    padding-top: 1.5rem;
    padding-left: 2rem!important;
}

.item__container--info--titulo {font-size: 1.5rem;}
.item__container--info--txt {font-size: 1rem;}

.item__container--btns {

    padding: 1rem .5rem 0rem 1rem;
}