.cart__titulo {

    font-size: 3rem;
    font-weight: bold;
}
.item_click {
    cursor: pointer;
}

.item__container {
    border: 1px solid black;
    padding: 0px;
    margin-top: 1rem;
    margin-bottom: 1rem;

}

.item__container--img {
    margin: 0px;
    padding: 0px;
    height: 100%;
}
.item__container--info {
    padding-top: 1.5rem;
    padding-left: 2rem!important;
}

.item__container--info--titulo {font-size: 1.5rem;}
.item__container--info--txt {font-size: 1rem;}
.item__container--info--span {font-size: 1rem; margin-right: 5px;}

.item__container--btns {

    padding: 1rem .5rem 0rem 1rem;
}

.form__input 
{
    border: none!important;
    border-bottom: 1px solid grey!important;
    border-radius: 0px!important;
    margin-bottom: 10px;
}
.form__input::placeholder {
    color: rgba(0, 0, 0, .15)!important;
    padding-left: 0px;
    margin-left: 0px;
}
.form__small{ 
    width: 100%!important;
    display: block  ;
    color: red;
    margin-bottom: 20px;
}